/*
#193940 dark blue
orange: #D48F4F
pink: #C9879D
green: #7C8B65
*/


* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  background-image: url("funQuizPic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:  100vh;
}

/* .group img {
  width: 100%;
  align-content: center;
}

.main {
  color: #000;
} */

.group {
  display: flex;
  flex-direction: column;
  margin: 6px;
}

.start-page {
  flex: 1;
}

#start {
  margin-top: 100px;
}


legend { 
  background-color: #193940; 
  color: #fff; 
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 32px;
  border: 2px solid; 
}

button {
  padding: 15px 25px;
  background-color: #7C8B65;
  color: #fff;
  border-radius: 8px;
  font-size: 28px;
  border: 1px solid;
}

button:hover,
button:focus {
  color: #fff;
  background-color: #647051;
  cursor: pointer;
}

/* button:active {
  background-color: white;
  color: #000;
  outline: 1px solid black;
} */

/* desktop view  */

@media screen and (min-width: 320px) {
  h1 {
    justify-content: center;
  }
  main {
    font-size: 14pt;
  }
}

@media screen and (min-width: 450px) {
  form {
    margin-left: 25%;
    margin-right: 25%;
  }

  main {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1400px) {
  header > h1 {
    font-size: 45pt;
  }
  main {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 26pt;
  }
}