/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/*-------THIS IS THE BEGGING OF THE CSS ---*/


* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}
/* 
.main-nav-list {
  list-style: none;
  padding: 0;
}
.main-nav-list-item {
  padding: .7rem 0;
  text-align:center;
  background-color: lime;
  border: 1px solid #000;
}

.box {
  background-color: pink;
  border:1px solid blue;
  margin: 10px 0;
  padding:10px;
}
*/


/* ----- THIS IS THE RADIO BUTTONS STYLING ---*//*----------------*/

button {
  background-color: lightgrey;
  color: black;
  text-align: center;
  padding: 5px;
}
legend { 
  background-color: #000; 
  color: #fff; 
  padding: 3px 6px; 
}


input:checked {
  border: 6px solid black;
}

button,
legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 30px;
}


button:hover,
button:focus {
  color: #999;
  cursor: pointer;
}

button:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}

/*----- END OF THE RADIO BUTTONS STYLING----------*/

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}


/* desktop view  */

@media screen and (min-width: 320px) {
  h1 {
    justify-content: center;
  }
  main {
    font-size: 14pt;
  }
}

@media screen and (min-width: 450px) {
  form {
    margin-left: 25%;
    margin-right: 25%;
  }


  main {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1400px) {
  header > h1 {
    font-size: 45pt;
  }
  main {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 26pt;
  }
}